/*기본 요소*/
html,
body,
div,
span,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
address,
em,
img,
strong,
sub,
sup,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
footer,
header,
nav,
section,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  line-height: 1.4;
  font-family: "Pretendard", system-ui, -apple-system, BlinkMacSystemFont,
    "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
    sans-serif;
}

button {
  cursor: pointer;
  border: 0;
  padding: 0;
  background: none;
  appearance: none;
  border-radius: 0;
  -webkit-appearance: none;
  -webkit-text-size-adjust: none;
  -webkit-border-radius: 0;
}

.wrap,
.container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.container.type_navigation {
  padding-bottom: 80px;
}

a {
  text-decoration: none;
  color: inherit;
}

.header + .container,
.logo_header + .container,
.all_header + .container {
  padding-top: 60px;
}

/*테이블*/
table.table tbody tr th {
  background-color: #f6f6f6;
  font-weight: 700;
}

/**/
.form-control {
  width: 100%;
  height: 44px;
  padding: 10px 16px;
  border-radius: var(--radi-md, 4px);
  border: 1px solid var(--color-gray-200, #e5e7eb);
  background: #fff;
  box-sizing: border-box;
  color: #111827;
  font-size: 15px;
  font-weight: 400;
  line-height: 140%;
  letter-spacing: -0.375px;
}
/*공통 버튼*/
.operation_button {
  padding: 20px;
  font-size: 20px;
  cursor: pointer;
}

/*메인*/
.content_main_page {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding: 40px;
  gap: 40px;
}

/*썸네일*/
.thumbnail_main {
  width: 15%;
  height: 20%;
  border-radius: 10px;
  border: 1px solid black;
  box-sizing: content-box;
  padding: 20px;
  text-align: center;
  overflow: auto;
  overscroll-behavior: contain;
  cursor: pointer;
}

.thumbnail_main_title {
  padding-top: 10px;
}

.thumbnail_image {
  aspect-ratio: 1 / 1;
  border-radius: 10px;
  border: 1px solid black;
  box-sizing: content-box;
  padding: 20px;
  text-align: center;
  overflow: auto;
  overscroll-behavior: contain;
}
