.btn {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 56px;
  border-radius: 12px;
  background: var(--violet-950);
  font-size: 18px;
  font-weight: 700;
  color: var(--white);
  letter-spacing: -0.45px;
  gap: 8px;
}

.btn:disabled {
  background: var(--gray-300);
  color: var(--white);
}

/**********************필드**********************/
.btn-swkit.delete {
  display: flex;
  align-items: center;
  gap: 2px;
  justify-content: center;
  border-radius: var(--radius-4, 4px);
  border: 1px solid var(--color-neutral-200, #e5e7eb);
  background: #fff;
  color: #1f2937;
  box-sizing: border-box;
  min-width: 110px;
  height: 40px;
  font-size: 14px;
  font-weight: 700;
  line-height: 140%; /* 21px */
  letter-spacing: -0.375px;
}

.add-student {
  display: flex;
  align-items: center;
  gap: 2px;
  padding: 8px 20px 8px 12px;
  border-radius: var(--radi-md, 4px);
  letter-spacing: -0.35px;
  background: #ffffff;
  color: black;
  box-sizing: border-box;
  border: 0.1vw solid black;
  width: 6vw;
  height: 3.7vh;
  font-size: 1.5vh;
  font-weight: 700;
  padding-right: 0.2vw;
  background-image: url(../../assets/plus.png);
  background-position: 10% 50%;
  background-repeat: no-repeat;
}
